/* Background pattern from Subtle Patterns */

body {
    font-family: 'proxima-nova-alt-regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proxima-nova-thin-2';
    color: seagreen;
}

@font-face {
    font-family: "proxima-nova-thin";
    src: url("fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf");
    src: url("fonts/Mark Simonson - Proxima Nova Thin-webfont.eot") format("eot"),
    url("fonts/Mark Simonson - Proxima Nova Thin-webfont.woff") format("woff"),
    url("fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2") format("woff2"),
    url("fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "proxima-nova-semibold";
    src: url("fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf");
    src: url("fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot") format("eot"),
    url("fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff") format("woff"),
    url("fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2") format("woff2"),
    url("fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "proxima-nova-thin-2";
    src: url("fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf");
    src: url("fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot") format("eot"),
    url("fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff") format("woff"),
    url("fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2") format("woff2"),
    url("fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "proxima-nova-alt-regular";
    src: url("fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf");
    src: url("fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot") format("eot"),
    url("fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"),
    url("fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2") format("woff2"),
    url("fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#filename") format("svg");
}

input.form-control {
    border-radius: 0;
}

/*Buttons*/

.btn {
    padding: 10px 20px;
    border: 0 none;
    border-radius: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active,
.btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-outline-dark {
    border: 1px solid seagreen;
    color: seagreen;
}

.btn-outline-dark:hover {
    border: 1px solid seagreen;
    background-color: seagreen;
}

.btn-success {
    background-color: seagreen;
}

/*Navbar*/

button.navbar-toggler.navbar-toggler-right,
button.navbar-toggler.navbar-toggler-right:focus,
button.navbar-toggler.navbar-toggler-right:active {
    outline: none;
    border-color: transparent;
}

.navbar-toggler span {
    display: block;
    background-color: #444;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
    background-color: seagreen;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: auto;
    top: 25px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
    background-color: seagreen;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: auto;
    top: 25px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
    background-color: seagreen;
}


nav.navbar {
    background-color: white;
    padding-top: 0px;
    box-shadow: 0px 0.3px 3px grey;
    padding-bottom: 0px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    button.btn.btn-outline-dark {
        margin-bottom: 10px;
    }
    /*a.nav-link{
        background-color: lightgreen;
    }*/
}

#high-level {
    /*background:linear-gradient(135deg, #8cd667 0%,#5fc47a 100%);*/
    background-color: #f0fbf4;
    background-image: url(images/cream-pixels.png);
}

/*Front Image Content*/

#container1 div.row:first-child {
    margin-top: 55px;
    margin-bottom: 40px;
    /*background-image: url("images/Textures/dust_scratches.png");*/
    height: inherit;
}

/*
#container1 div.row:nth-child(2){
    padding-top: 2%;*/

/*background-image: url("images/Textures/dust_scratches.png");*/

/*   height: 300px;
}*/

#container1 div.row:first-child img {
    margin-top: 40px;
}

#container1 div.row:first-child div.col-lg-6.text-lg-right.text-sm-center {
    padding: 0 5% 0 5%;
}

@media screen and (max-width: 768px) and (min-width: 320px) {

    #container1 div.row:first-child div.col-lg-6.text-lg-right.text-sm-center {
        text-align: center;
        padding: 0 10% 0 10%;
    }


    form.form-inline div.input-group {
        display: table;
        margin: 0 auto 0 auto;
    }

    form.form-inline input.form-control {
        height: 50px;
        width: 100%;
    }
    form.form-inline div.input-group-btn button {
        height: 50px;
        margin: 10px 0 0 0;
        width: 100%;
    }

}

form.form-inline div.input-group {
    height: 50px;
    width: 80%;
}



/*Clients*/

#clients-section {
    /*background-image: url("images/Textures/dust_scratches.png");*/
    padding: 40px 0 40px 0;
}

@media screen and (max-width: 768px) and (min-width: 320px) {

    #clients-section {
        /*background-image: url("images/Textures/dust_scratches.png");*/
        padding: 80px 0px 40px 0px;
    }
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */

div.container-fluid.marketing {
    padding-top: 80px;
    padding-bottom: 80px;
}

div.container-fluid.marketing > div.row h3 {
    margin-top: 30px;
    color: #191919;
}

div.container-fluid.marketing > div.row p {
    color: currentColor;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}



/*Features Section Content*/

#features-container {
    /*background: linear-gradient(135deg, #8cd667 0%, #5fc47a 100%);*/
        background-color: #f0fbf4;
    background-image: url(images/cream-pixels.png);
    padding: 80px 0px 80px 0px;
}

/*
section.feature-box{
    background:linear-gradient(135deg, #8cd667 0%,#5fc47a 100%);
}*/

section.feature-box div.row {
    margin-left: 30px;
    margin-right: 30px;
}




/*Team Section*/

#team {
    padding: 80px 0 80px 0;
}

#team div.col-sm-4 {
    margin-top: 50px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}



/*Video Section*/

div.embed-container {
    /*background: linear-gradient(135deg, #8cd667 0%, #5fc47a 100%);*/
        background-color: #f0fbf4;
    background-image: url(images/cream-pixels.png);
    padding: 80px 0 80px 0;
}

div.embed-container div.wrapper {
    margin-top: 80px;
    height: 40%;
    width: 60%;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    div.embed-container div.wrapper {
        margin-top: 80px;
        height: 100%;
        padding: 0;
        width: auto;
    }
}


/*DOCS*/

#docs {
    padding: 80px 0 80px 0;
}

/*DOCS*/


/*Reviews section*/
#reviewContainer{
    background-color: #f0fbf4;
    background-image: url(images/cream-pixels.png);
    padding: 80px 0 80px 0;
    margin-bottom: 40px;
}
#reviewContainer h1{
    padding: 0 8% 0 8%;
}

@media only screen and (min-width: 959px) {
    #reviewContainer{
    height: 500px !important;
}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    #reviewContainer{
    height: 500px !important;
}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #reviewContainer{
    height: 530px !important;
}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    #reviewContainer{
    height: 530px !important;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #reviewContainer{
    height: 630px !important;
}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #reviewContainer{
    height: 890px !important;
}
}

/*
div.carousel-inner{
    max-height: 30px !important;
}*/
#carouselExampleControls{
    padding: 40px 0 40px 0;
}
#carouselExampleControls h5{
    padding: 0 10% 0 10%;
}


/*Footer Content*/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
    background: #fff url("../images/footer/footer-bg.png") repeat scroll left top;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    /*border-top:10px solid seagreen;*/
        background-color: #f0fbf4;
    background-image: url(images/cream-pixels.png);
    /*background: linear-gradient(135deg, #8cd667 0%, #5fc47a 100%);*/
}

.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: forestgreen;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width: 95%;
}



.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.footerp p {
    font-family: 'Gudea', sans-serif;
}


#social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

/* 
    Only Needed in Multi-Coloured Variation 
                                               */

.social-fb:hover {
    color: #3B5998;
}

.social-tw:hover {
    color: #4099FF;
}

.social-gp:hover {
    color: #d34836;
}

.social-em:hover {
    color: #f39c12;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}




.footer-bottom {
    background-color: seagreen;
    min-height: 30px;
    width: 100%;
}

.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}

.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.design a {
    color: #fff;
}


/************************************************************
*************************Footer******************************
*************************************************************/