/* Background pattern from Subtle Patterns */

body {
    font-family: 'proxima-nova-alt-regular';
    background-color: #f0fbf4;
    background-image: url(../images/cream-pixels.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proxima-nova-thin-2';
    color: seagreen;
}

@font-face {
    font-family: "proxima-nova-thin";
    src: url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf");
    src: url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot") format("eot"),
    url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff") format("woff"),
    url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2") format("woff2"),
    url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "proxima-nova-semibold";
    src: url("../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf");
    src: url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot") format("eot"),
    url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff") format("woff"),
    url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2") format("woff2"),
    url("../fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "proxima-nova-thin-2";
    src: url("../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf");
    src: url("../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot") format("eot"),
    url("../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff") format("woff"),
    url("../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2") format("woff2"),
    url("../fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#filename") format("svg");
}

@font-face {
    font-family: "proxima-nova-alt-regular";
    src: url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf");
    src: url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot") format("eot"),
    url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff") format("woff"),
    url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff2") format("woff2"),
    url("../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#filename") format("svg");
}

input.form-control {
    border-radius: 0;
}

/*Buttons*/

.btn {
    padding: 10px 20px;
    border: 0 none;
    border-radius: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active,
.btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-outline-dark {
    border: 1px solid seagreen;
    color: seagreen;
}

.btn-outline-dark:hover {
    border: 1px solid seagreen;
    background-color: seagreen;
}

.btn-success {
    background-color: seagreen;
}

/*Navbar*/

button.navbar-toggler.navbar-toggler-right,
button.navbar-toggler.navbar-toggler-right:focus,
button.navbar-toggler.navbar-toggler-right:active {
    outline: none;
    border-color: transparent;
}

.navbar-toggler span {
    display: block;
    background-color: #444;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
    background-color: seagreen;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: auto;
    top: 25px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
    background-color: seagreen;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: auto;
    top: 25px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
    background-color: seagreen;
}


nav.navbar {
    background-color: white;
    padding-top: 0px;
    box-shadow: 0px 0.3px 3px grey;
    padding-bottom: 0px;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    button.btn.btn-outline-dark {
        margin-bottom: 10px;
    }
    /*a.nav-link{
        background-color: lightgreen;
    }*/
}


hr{
    border: 1px solid seagreen;
}


#heading{
    margin: 120px 0 60px 0;
}

#content{
    margin-top: 60px;
}